* {
    block-size: border-box;
    text-decoration: none;
    padding: 0;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    overflow-x: hidden; 
    margin: 0;
    padding-top: 1px;
}

/*video*/
.inic-video {
    position: relative;
    width: 100%;
    height: 90vh;
}

.inic-video video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/*seccion-1*/
.seccion-1 {
    position: relative;
    background-color: #f1f1f0;
    padding: 50px;
    min-height: 400px;
}

.seccion-1 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #263864;
    text-align: left;
    position: absolute;
    top: 60px;
    left: 130px;
}

.seccion-1 p {
    font-family: 'Open Sans', sans-serif;
    color: #263864;
    max-width: 550px;
    position: absolute;
    top: 110px;
    left: 130px;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: .2px;
}

.awa {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 90px;
    border-radius: 5px;
    right: 120px;
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    animation: BgAnimation 10s linear infinite;
}

@keyframes BgAnimation {
    4% {
        background-image: url('/restaurante_Cevicheria/Images/is-a-party.png');
    }

    30% {
        background-image: url('/restaurante_Cevicheria/Images/pescadores.jpg');
    }

    60% {
        background-image: url('/restaurante_Cevicheria/Images/plato 1.png');
    }

    100% {
        background-image: url('/restaurante_Cevicheria/Images/mar.jpg');
    }
}


.separador-4 {
    position: absolute;
    width: 400px;
    height: 7px;
    background-color: #263864;
    margin: 220px 120px;
}

/*seccion-2*/
.seccion-2 {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #21213b;
    height: 584px;
}


.seccion-2 h1 {
    justify-content: center;
    color: white;
    padding: 22px;
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: -85px;
    align-items: center;
}


.cards-container {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;

}


.card {
    width: 100px;
    height: 400px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    color: white;
    padding: 1.5rem;
    transform: translateY(70%);
    transition: transform 0.5s ease;
}


.card:hover .card-content {
    transform: translateY(0);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.card-text {
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.card:hover .card-text {
    opacity: 1;
    transform: translateY(0);
}


.card.pilares {
    top: 90px;
    left: -17%;
    width: 367px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.historia {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 90px;
    left: -25%;
    width: 367px;
}

.card.experiencia {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: -344px;
    left: 43%;
    width: 367px;
}


.card.experiencia .card-content {
    transform: translateY(40%);
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 0.4) 100%);
}

.card.experiencia .card-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    opacity: 1;
    transform: translateY(0);
}

.card.experiencia:hover .card-content {
    transform: translateY(0);
}

.card.experiencia .card-text {
    margin-top: 1rem;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.card.experiencia:hover .card-text {
    opacity: 1;
    transform: translateY(0);
}

/*Imagenes galeria*/

.Leer-mas {
    position: absolute;
    top: 240%;
    left: 1372px;
    font-size: 1em;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.Leer-mas:hover {
    color: #22a7f0;
    border-bottom-color: #22a7f0;
}

/*seccion-3*/
.seccion-3 {
    text-align: center;
    background-color: #1a1a33;
    padding: 200px;
    height: 120px;
    position: relative;
}

.seccion-3 h2 {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
    margin: 1px -101px;
}

.seccion-3 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 600px;
    margin: 1px -101px;
    text-align: left;
    color: white;
}

.separador-1 {
        /* position: absolute; */
        width: auto;
        height: 6px;
        padding: 0px;
        background-color: white;
        margin: -16% -139px 137px;
}



    .a img {
        box-shadow: 15px 15px 15px rgba(22, 21, 21, 0.3);
        border-radius: 10px;
        cursor: pointer;
        width: 30%;
        position: relative;
        top: -230px;
        left: 40%;
        transition: transform 0.3s ease;
    }
        .a img:hover {
        transform: scale(1.05);
        }


/*seccion-4*/

.seccion-4 {
    position: relative;
    text-align: center;
    color: white;
    padding: 130px 0;
    background-color: #0c0c22;
}

.seccion-4 h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 3em;
    margin-top: -60px;
    margin-bottom: 20px;
    text-align: center;
}

.seccion-4 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #b3b3b3;
    margin-bottom: 40px;
    max-width: 700px;
    margin: 0 auto;
}

/* divicion 2 =Estilo de Reseñas Individuales */
.reseñas_contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.reseña_bloque {
    background-color: #1a1a33;
    width: 300px;
    height: 130px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.reseña_bloque:hover {
    transform: translateY(-10px);
}

.reseña_bloque h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.reseña_bloque p {
    font-size: 1em;
    line-height: 1.5;
    color: #b3b3b3;

}

/* Botón Leer Más */
.leer_mas {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: 2px solid #463ebe;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.leer_mas:hover {
    background-color: #3624db;
    color: white;
}

/*Politicas*/
footer {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 100px 70px;
    font-size: 14px;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 6px auto;
    margin-top: -70px;
    margin-left: 150px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: px;
    color: #2C2C2C;
}

.socialTittle {
    margin-top: 78px;
    margin-left: -303px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 9px;
    max-width: 225px
}

.footer-section ul li a {
    position: relative;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #007BFF;
}

.footer-section p {
    margin: 10px 0;
}

/*Iconos*/

.social-icons a {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    display: flex;
    color: #333;
    transition: color 0.3s ease;
    margin-left: 34px;
}

.info-libro-reclamaciones {
    position: absolute;
    margin-top: -23px;
    height: 90px;
    margin-left: -7px;

}

.social-fc {
    position: absolute;
    margin-top: -2px;
    height: 25px;
    margin-left: -335px;
}

.social-ig {
    position: absolute;
    margin-top: -2px;
    height: 25px;
    margin-left: -306px;
}

.social-tikTok {
    position: absolute;
    margin-top: -2px;
    height: 25px;
    margin-left: -276px;
}


.social-icons a:hover {
    color: #007BFF;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

.footer-bottom a {
    color: #333;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #007BFF;
}

/*mi perfil*/

.pago-main {
    max-width: 800px;
    /* Ajusta el tamaño del contenedor */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos hijos */
}

.form-container,
.checkbox-container {
    width: 48%;
    /* Ajusta el ancho de las columnas */
}

.pago-titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 47px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    margin-top: -3%;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="password"]{
    width: calc(51% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.pago-boton {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.pago-boton:hover {
    background-color: #218838;
}

.sc-boton {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #d0e77b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.sc-boton:hover {
    background-color: #bfec6a;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group label {
    margin-left: 5px;
    color: #555;
}

.image-container {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#mensaje {
    text-align: center;
    font-size: 18px;
    color: #28a745;
    margin-top: 20px;
}
/*confirmar pago 1*/
#mostrar-form-pago {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 11px 14px;
    background-color: #1a237e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 22px;
}

#mostrar-form-pago i {
    font-size: 18px;
}

#mostrar-form-pago:hover {
    background-color: #4f565e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#mostrar-form-pago:active {
    background-color: #004080;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*confirmar pago 2*/
.boton2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 11px 14px;
    background-color: #1a237e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 22px;
}

.boton2 i {
    font-size: 18px;
}

.boton2:hover {
    background-color: #4f565e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.boton2:active {
    background-color: #004080;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
  }

  .container {
    max-width: 1427px;
    margin: 2rem auto;
    padding: 0 1rem;
}
  
  .boton3, .boton4 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 7px 16px;
    background-color: #1a237e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .boton3 i, .boton4 i {
    font-size: 18px;
  }
  
  .boton3:hover, .boton4:hover {
    background-color: #4f565e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .boton3:active, .boton4:active {
    background-color: #004080;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .boton3 {
    margin-right: auto;
  }

/*yape y pli imagenes*/
.mt-5 {
    padding-top: 5px;
}

.confirmar-tit {
    padding-top: 10px;
}

.opcion-imagen {
    display: none;
    max-width: 300px;
    margin-top: 5px;
}

.si {
    color: var(--navy-blue);
    margin-bottom: 1.5rem;
    font-weight: 600;
    margin-top: -5%;
    margin-left: 74%;

}

.btn-btn-primary{
    padding-left: 50%;
}

/*mensaje*/
.mensaje {
    position: absolute;
    top: 10%;
    width: 226px;
    padding: 20px;
    border-radius: 16px;
    font-family: 'Trade Gothic LT', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    z-index: 1000;
    animation: slideInFromRight 0.5s forwards;
    background-color: rgba(26, 35, 126, 0.85); /* Slightly transparent */
    color: white;
    box-shadow: 0 4px 6px rgba(95, 187, 76, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensaje i {
    margin-right: 10px;
    font-size: 20px;
}

.mensaje.error {
    background-color: rgb(255 14 0 / 85%);
    font-family: 'Trade Gothic LT', sans-serif;
    color: white;
    width: 17%;
    margin-left: -2%;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideInFromRight {
    0% {
        left: 100%;
    }
    100% {
        left: 82%; /* Ajusta la posición final según tu diseño */
    }
}

.social-icons {
    display: flex;
    align-items: center;
    }
    .social-icons a {
    margin: 0 4px;
    }
    .social-icons img {
    width: 30px;
    height: 30px;
    }
